body{
    /* background-image: url(graywlights.png); */
    /* background-repeat: repeat-y; */
    /* background-size: auto; */
    background-color: dimgrey;
}

h1 {
    color: white;
}

.navbarcntnr{
    height: 100px;
    width: 950px !important;
    margin-left: auto !important;
    margin-right:auto !important;
}

.nav {
    float: right;
}

/* .clearfix::after{ */
    /* content:""; */
    /* display:block; */
    /* clear:both; */
/* } */

.pagebox{
    width: 950px;
    margin-left: auto;
    margin-right:auto;
}

img{
    border: 2px solid gray;
}